<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="style_header.css">
</head>

<body>

<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark" id="nav">
    <div class="header">
        <a class="navbar-brand" id="titles">Library Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>  
    </div>

    <div class="middle">
        <div class="left">
            <ul class="navbar-nav mr-auto" id="index">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/categories">Categories </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/books">Books </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/publishers">Publishers </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/authors">Authors </a>
                </li>
                <li class="nav-item active" sec:authorize="hasAuthority('USER')">
                    <a class="nav-link" href="/user/edit">Personal Info</a>
                </li>
                <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" href="/admin/users">Users</a>
                </li>
                <li class="nav-item active" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">login</a>
                </li>
                <!-- <li class="nav-item active" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout">logout</a>
                </li> -->
                <li class="nav-item active">
                    <a class="nav-link" href="/register">register</a>
                </li>
            </ul>
    
        </div>
        
        <div class="right">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form th:action="@{/searchBook}" class="form-inline my-2 my-lg-0" id="search_form">
                    <input class="form-control mr-sm-2" name="keyword" id="keyword" type="text" placeholder="Search"
                           aria-label="Search" th:value="${keyword}">
                    <input class="btn btn-outline-success active my-2 my-sm-0" type="submit" value="Search" id="sub_btn"/>
                </form>
        
            </div>
        </div>
    </div>

    <div class="footer">
        
    </div>
    


</nav>

</body>
</html>