<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>

    <link rel="stylesheet" th:href = "@{/css/style_header.css}">
</head>


<body>

<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark">
    <div class="top_area">
        <div class="container_menu">
            <img src="/img/menu.png" >
            <ul class="menu">
                <li class="items_header">
                    <a href="/">主页</a>
                </li>

                <li class="items_header" sec:authorize="isAuthenticated()">
                    <a href="/books">图书管理</a>
                </li>


                <li class="items_header" sec:authorize="hasAuthority('USER')">
                    <a href="/user/edit" id="Personal_info">我的</a>
                </li>

                <li class="items_header" sec:authorize="hasAuthority('USER')">
                    <a href="/user/borrows">我的书</a>
                </li>



                <li class="items_header" sec:authorize="hasAuthority('ADMIN')">
                    <a href="/admin/users">用户管理</a>
                </li>

                <li class="items_header"  sec:authorize="hasAuthority('ADMIN')">
                    <a href="/admin/all_borrows">借书管理</a>
                </li>




                <li class="items_header" sec:authorize="!isAuthenticated()">
                    <a href="/login">登录</a>
                </li>


                <li class="items_header" sec:authorize="isAuthenticated()">
                    <a href="/logout">登出</a>
                </li>
            </ul>
        </div>
    </div>

</nav>

</body>


</html>