<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Add Book</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="style_add-book.css">
</head>

<body>
	<div class="container">
		<label id="mytitle">Add Book</label>
		<div class="card">
			<div class="card-body">
				<form action="#" th:action="@{/add-book}" th:object="${book}" method="post" id="mycard">
					<div class="area1">
						<div class="labels">
							<label for="isbn" class="col-form-label">ISBN</label> 
							<label for="name" class="col-form-label">Book Name</label>
							<label for="serialName" class="col-form-label">SerialName </label>
							<label for="description" class="col-form-label">Description</label>
							<label for="category" class="col-form-label">Category</label>
							<label for="author" class="col-form-label">Author</label>
							<label for="publisher" class="col-form-label">Publisher</label>
						</div>

						<div class="row">
							<div class="form-group col-md-8">
								<input type="text" th:field="*{isbn}" class="form-control" id="isbn" placeholder="ISBN" /> 
								<span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
							</div>

							<div class="form-group col-md-8">
								<input type="text" th:field="*{name}" class="form-control" id="name"placeholder="Book Name" />
							</div>

							<div class="form-group col-md-8">
								<input type="text" th:field="*{serialName}" class="form-control" id="serialName" placeholder="Serial Name" />
							</div>

							<div class="form-group col-md-8">
								<input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description" />
							</div>
					
							<div class="form-group col-md-8">
								<select th:field ="*{categories}" class="form-control" >
									<option th:each="category: ${categories}" th:value="${category.id}" th:text = "${category.name}"></option>
								</select>
							</div>
							
							<div class="form-group col-md-8">
								<select th:field ="*{authors}" class="form-control" >
									<option th:each="author: ${authors}" th:value="${author.id}" th:text = "${author.name}"></option>
								</select>
							</div>	

							<div class="form-group col-md-8">
								<select th:field ="*{publishers}" class="form-control" >
									<option th:each="publisher: ${publishers}" th:value="${publisher.id}" th:text = "${publisher.name}"></option>
								</select>
							</div>
						</div>
					</div>

									
					<div class="col-md-6">
						<input type="submit" class="btn btn-primary" value=" Submit " id="button">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>