
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Books</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div class="container my-5">
                <div class="col-md-12">
                    <div>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Book Name</th>
                                <th>Status</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Finish Return</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="borrow : ${borrowed_books}">
                                <td th:text="${borrow.user.name}"></td>
                                <td th:text="${borrow.book.name}"></td>
                                <td th:text="${borrow.status}"></td>
                                <td th:text="${borrow.startDate}"></td>
                                <td th:text="${borrow.endDate}"></td>
                                <td><a th:href="@{/admin/borrows/return/{id}(id=${borrow.id})}" class="btn btn-primary"><i
                                        class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>