<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Users</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
    <link rel="stylesheet" th:href="@{/css/style_list-users.css}">
    <link rel="stylesheet" th:href="@{/css/style_header.css}">
</head>
<body>

<div th:insert="fragments/header :: header"></div>
<div class="add_card_body">
    <label id="add_label">添加</label>
    <div class="add_content">
        <form class="add_user_info" th:action="@{/admin/add-user}" th:object="${new_user}" method="post">
            <div class="items_add_user-info" id="add_username">
                <label for="input_add_username" class="label_add_user-info">用户号</label>
                <input id="input_add_username" type="text" th:field="*{username}" class="input_add_user-info">
            </div>
            <div class="items_add_user-info" id="add_nickname">
                <label for="input_add_name" class="label_add_user-info">昵称</label>
                <input id="input_add_name" type="text" th:field="*{name}" class="input_add_user-info">
            </div>
            <div class="items_add_user-info" id="add_email">
                <label for="input_add_email" class="label_add_user-info">邮箱</label>
                <input id="input_add_email" type="email" th:field="*{email}" class="input_add_user-info">
            </div>
            <div class="items_add_user-info" id="add_phone">
                <label for="input_add_phone" class="label_add_user-info">手机号</label>
                <input id="input_add_phone" type="text" th:field="*{phone}" class="input_add_user-info">
            </div>
            <div class="items_add_user-info" id="add_password">
                <label for="input_add_password" class="label_add_user-info">密码</label>
                <input id="input_add_password" type="text" th:field="*{password}" class="input_add_user-info">
            </div>

            <div class="add_buttonBox" id="add_buttonBox">
                <input class="button" id="add_btn_submit" type="submit" value="添加">
            </div>

        </form>
    </div>
</div>

<div class="container_card">

    <div class="card_body" th:each="user : ${users}">
        <div class="imageBox">
            <!--    todo: relative path   ↓    -->
            <img th:src="@{/img/h1.jpg}" id="myimage">
        </div>

        <div class="content">
            <form class="user_info" action="#" th:action="@{/admin/update-user/{id}(id=${user.id})}" th:object="${user}"
                  method="post">
                <div class="items_user-info" id="username">
                    <label class="label_user-info">用户号</label>
                    <input type="text" class="input_usere-info" th:placeholder="${user.username}">
                </div>
                <div class="items_user-info" id="nickname">
                    <label class="label_user-info">昵称</label>
                    <input type="text" class="input_usere-info" th:placeholder="${user.name}">
                </div>
                <div class="items_user-info" id="email">
                    <label class="label_user-info">邮箱</label>
                    <input type="text" class="input_usere-info" th:placeholder="${user.email}">
                </div>
                <div class="items_user-info" id="phone">
                    <label class="label_user-info">手机号</label>
                    <input type="text" class="input_usere-info" th:placeholder="${user.phone}">
                </div>
                <div class="items_user-info" id="password">
                    <label class="label_user-info">密码</label>
                    <input type="text" class="input_usere-info">
                </div>

                <div class="buttonBox" id="buttonBox">
                    <input class="button" id="btn_submit" type="submit">
                    <!--                    <button class="button" id="btn_delete">删除</button>-->
                    <a th:href="@{/admin/remove-user/{id}(id=${user.id})}" class="button" id="btn_delete">删除</a>
                </div>

            </form>
        </div>
    </div>


</div>

</body>

</html>