<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Books</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>

    <link rel="stylesheet" th:href= "@{/css/style_list-borrows.css}">
    <link rel="stylesheet" th:href = "@{/css/style_header.css}">
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="header_text">
    <label>借书记录</label>
</div>
<div class="container_list-borrows">

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>书名</th>
                    <th>借阅状态</th>
                    <th>借书日期</th>
                    <th>应还日期</th>
                    <th>申请延期</th>
                    <th>申请还书</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="borrow : ${borrowed_books}">

                    <td th:text="${borrow.status}" class="first_td"></td>
                    <td th:text="${borrow.book.name}"></td>
                    <td th:text="${borrow.startDate}"></td>
                    <td th:text="${borrow.endDate}" class="last_td"></td>
                    <td sec:authorize="hasAuthority('USER')">
                        <a th:if="${borrow.status.name() == 'TAKEN'}"
                           th:href="@{/book/borrow/postpone/{id}(id=${borrow.id})}"
                           >
                            A
                        </a>
                    </td>
                    <td sec:authorize="hasAuthority('USER')">
                        <a th:if="${borrow.status.name() != 'RETURNED' and borrow.status.name() != 'PROCESSED'}"
                           th:href="@{/book/borrow/return/{id}(id=${borrow.id})}"
                           >
                            B
                        </a>
                    </td>
                </tr>



                </tbody>

                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

</body>

</html>