@font-face 
{
    font-family: '√¿◊÷…Á—’∫⁄ÃÂ';
    src: url(√¿◊÷…Á—’∫⁄ÃÂ∏ˆ»À ‘”√∞Ê.otf);
}

@font-face 
{
      font-family: '∫∫“«÷–‘≤ºÚ';
      src: url(∫∫“«÷–‘≤ºÚ.ttf);
}

body
{
  margin:0;
  padding: 0;

  width: 100%;
  height: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-image: linear-gradient(60deg, #e0edf6, #eef3f4, #ddf3eb, #e5efde, #eeebe1) ;
  background-size: 1000%;
  background-attachment: fixed;
  
  /* object-fit:contain; */
  overflow:hidden;

  animation: background_animation 10s infinite;
}

@keyframes background_animation{
  0%{
      background-position: 0%, 50%;
  }

  50%
  {
      background-position: 100% 50%;
  }

  100%
  {
      background-position: 0% 50%;
  }
}

.registerBox
{
    border-radius: 50px;

    background-image: linear-gradient(120deg, #e5e7e9 0%, #e2efef 100%);
    box-shadow: -4px -6px 7px -8px #fff, 
                5px 8px 7px -7px rgba(7,46,86,0.3);
}


.registerBox form
{
    font-family: '∫∫“«÷–‘≤ºÚ';

    padding-top: 20px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.registerBox div
{
    margin-top: 30px;
    

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items:center;  /*¥ÌŒÛÃ· æ”Î ‰»ÎøÚ◊Û∂‘∆Î*/
}

.registerBox form div .warning
{
    margin-left: 30px;  /*15px(marigin-left) + 15px(padding)*/
    margin-right: 15px; 

    white-space:pre-wrap;
    color: rgb(241, 110, 121);
}

.registerBox form .Account input#username, .Nick input#nickname, .Email input#email, .Password input#password
{
    
    width: 270px;

    padding: 15px 12px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px; 

    outline: none;
    border: none;
    border-radius: 30px;

    background: linear-gradient(135deg, #e2e5e7 0%, #f3f5f6 100%);
    box-shadow: -4px -3.5px 5px -4px rgba(4, 43, 70, .3) inset, 
                2px 3px 5px -4px #fff inset;

    font-family: '∫∫“«÷–‘≤ºÚ';
    font-size: 20px;
    color: rgb(12, 93, 99);
}

.registerBox form .Account input#username::placeholder, .Nick input#nickname::placeholder,
     .Email input#email::placeholder, .Password input#password::placeholder
{
    font-family: '∫∫“«÷–‘≤ºÚ';

    font-size: 20px;
    font-weight: 10px;

    color: rgba(21, 87, 134, 0.3);
}

.registerBox form .Btn input#button
{
    margin-top: 10px;
    margin-bottom: 30px;
    padding:10px 10px;    

    outline: none;
    border: none;
    border-radius: 30px;

    background: linear-gradient(135deg, #e2e5e7 0%, #f3f5f6 100%);
    box-shadow: 2px 5px 5px -4px rgba(4, 43, 70, .3), -3px -4px 5px -4px #fff;

    font-family: '∫∫“«÷–‘≤ºÚ';
    font-size: 20px;
    font-weight: 700px;

    letter-spacing: 20px;
    padding-left: 30px;  /*20px + 10px*/

    color: rgb(20, 132, 139);
}

.registerBox form .Btn input#button:hover
{
    background: wheat;
    color: #2b1055;
}

.registerBox form .Btn input#button:active
{
    background-color: #f8f1e3;
    box-shadow: -2px -5px 5px -4px rgba(255, 255, 255, 1) inset, 
                2px 5px 5px -5px rgba(0, 0, 0, .3) inset;
    color: rgb(131, 163, 165);
}